@font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina'),
    local('NeueMachina-Ultrabold'),
    url('../NeueMachina-Ultrabold.ttf') format('truetype'),
    url('../NeueMachina-Ultrabold.otf') format('opentype'),
    url('../NeueMachina-Ultrabold.woff') format('woff'),
    url('../NeueMachina-Ultrabold.woff2') format('woff2'),
    url('../NeueMachina-Ultrabold.eot')
;
}

@font-face {
    font-family: 'Neue Machina light';
    src: local('Neue Machina light'),
    local('NeueMachina-light'),
    url('../NeueMachina-Light.otf') format('opentype')
;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Neue Machina light', monospace;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #141314;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1a1a1a;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.my-name {
    font-family: 'Neue Machina', monospace;
    font-size: 3em;
    cursor: default;
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    -webkit-transition-property: color;
    -o-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.main-page-logo {
    cursor: pointer;
    width: 110px;
    color: rgb(164, 164, 165);
}

svg:hover {
    fill: rgb(134, 134, 135);
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    -o-transform: scaleX(1.1);
    transform: scaleX(1.1);
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.main-page-specialty {
    font-family: 'Neue Machina light', monospace;
    color: rgba(240, 240, 240, 1);
    /*font-size: 1.5em;*/
    cursor: default;
    margin-top: 1%;
    line-height: 1.2em;
    -webkit-transition-property: color;
    -o-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    display: none;
}

.main-page-wrapper {
    width: 100%;
    position: fixed;
    padding: 3%;
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    left: 0;
}

.main-menu__opened {
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-left: 35%;
    position: fixed;
}

.contacts {
    visibility: hidden;
    padding: 1% 0;
    color: #141314;
    -webkit-transition-property: color;
    -o-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.contacts-menu__opened {
    visibility: visible;
    color: #efefef;
}

.modal {
    position: fixed;
    width: 35%;
    height: 100%;
    color: rgb(164, 164, 165);
    background: transparent;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    left: -35%;
}

.modal-content {
    font-family: 'Neue Machina light', monospace;
    font-size: 14pt;
    cursor: default;
    padding: 10%;
    line-height: 20pt;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-property: color;
    -o-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.modal-menu__opened {
    visibility: visible;
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    left: 0;
}

.modal-img {
    width: 16em;
    height: 16em;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: -6%;*/
    margin-top: 10%;
    border: 1px solid #efefef;
    background-image: url("photo1.png");
    background-position: center;
    -webkit-border-radius: 51% 67% 56% 64%;
    -moz-border-radius: 51% 67% 56% 64%;
    border-radius: 51% 67% 56% 64%;
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.modal-img:hover {
    -webkit-border-radius: 59% 52% 57% 54%;
    -moz-border-radius: 59% 52% 57% 54%;
    border-radius: 59% 52% 57% 54%;

}

.nav {
    width: 3%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    color: #efefef;
    background-color: rgba(23, 23, 23, 0)
}

.nav-opened {
    visibility: hidden;
}

#main-canvas {
    width: 100%;
    height: 100vh;
    display: block;
}

.sub-menu {
    position: fixed;
    cursor: default;
    width: 50%;
    right: -50%;
    top: 85%;
    background: transparent;
    border-bottom: 1px solid #131413;
    visibility: hidden;
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.sub-menu__opened {
    visibility: visible;
    border-bottom: 1px solid rgb(164, 164, 165);
    right: 0;
    z-index: 99;
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

ul {
    display: inline;
    padding: 0 10px;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 10% 0 0;
    color: rgb(164, 164, 165);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

li:hover {
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
    transform: scaleX(1.2);
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

p:last-child {
    line-height: 5
}

a {
    display: inline-block;
    color: rgb(164, 164, 165);
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: rgba(240, 240, 240, 1);
    text-shadow: 3px 4px 5px #141314;
}

@media only screen and (max-width: 1023px) {
    .modal {
        left: 100%;
        overflow: auto;
    }

    .modal-menu__opened {
        width: 100% !important;
        left: 0;
    }

    .main-menu__opened {
        display: none;
    }

    .sub-menu {
        width: 100%;
        top: 1% !important;
    }

    .modal-content {
        padding-top: 5%;
    }

    ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .modal-img {
        margin-top: 15%
    }
}
@media only screen and (max-width: 479px) {
    .sub-menu{visibility: hidden}
}
